*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
    font-family: sans-serif;
}
div.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.stars{
    display: flex;
    flex-direction: row;
    background-color: brown;
    list-style-type: none;
}
.star{
    padding: 10px;
    font-size: x-large;
}
.likee{
    color: white;
}
.likee:hover{
    color: yellow;
}
button{
    padding: 5px;
    font-size: larger;
    outline: none;
    border: none;
    width: 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
button:hover{
    background-color: yellowgreen;
    color: white;
}
button:active{
    background-color: turquoise;
    color: tomato;
}
