*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,44,1) 35%, rgba(0,212,255,1) 100%); 
}
div.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.stars{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(23,121,9,0.9457983022310487) 65%, rgba(0,212,255,1) 100%); 
}
img{
    -webkit-box-shadow: 5px 5px 15px 0px rgba(64,255,80,0.82), 5px 5px 15px 0px rgba(64,255,80,0.82);
    box-shadow: 5px 5px 15px 0px rgba(64,255,80,0.82), 5px 5px 15px 0px rgba(64,255,80,0.82);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
h2{
    margin-bottom: 20px;
}
.star{
    padding: 10px;
    font-size: x-large;
}
.likee{
    color: white;
}
.likee:hover{
    color: yellow;
}
button{
    padding: 5px;
    font-size: larger;
    outline: none;
    border: none;
    width: 100px;
    background-color: yellowgreen;
    margin-top: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
button:hover{
    background-color: yellowgreen;
    color: white;
}
button:active{
    background-color: #54e346;
    color: black;
}
